<table width="750">
    <tbody>
        <tr><th width="400"></th><th width="400"></th>
        <tr>
            <td><b>Analyse du rapport expert</b></td><td>Date réception: {{ grille.document.date_reception|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <td>Ref assureur : {{ grille.doc.statut.sinistre.ref_asqua }}</td>
        </tr>
        <tr>
            <td>N/n°Sin: {{ grille.doc.statut.sinistre.num_chrono }}</td><td></td>
        </tr>
    <td colspan="3">
        <br><br>Cher Maître, <br><br>
        Nous avons examiné la note de l'expert judiciaire référencée en marge, de laquelle il ressort clairement que les désordres mentionnés ne relèvent pas de la mission souscrite par le Maître de l'Ouvrage. <br><br>Nous vous remercions donc de noter que notre responsabilité ne peut être recherchée.
        <br><br><br>Meilleures salutations.
        <br><br>
        {{ grille.auteur }}
<br><br><span><center>{{ footer.entite }}<br> {{ footer.contact_entite }}</center></span></td></tr></tbody></table>
    </td></tr></tbody></table>