{% if affaires %}
    <fieldset>
        <legend>Affaires de l'opération</legend>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Num Affaire</th><th>Designation</th><th>Missions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aff in affaires %}
                        <tr style="cursor: pointer" onClick="window.open('http://qualiperf.qualigroup.net/espace_commerce/affaires_detail.aspx?id_contrat={{aff.id_qp_contrat}}')">
                            <td>{{aff.code}}</td>
                            <td>{{aff.libelle}}</td>
                            <td>{{aff.missions}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</fieldset>