<div class='panel panel-default col-md-13'>
    <div class='panel-heading'>
        <div class="panel-title">
            Maîtrise d'ouvrage
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            {% if affaire.mo.count > 0 %}
                <table class='table'>
                    <tr><th>Nom</th><th>Telephone</th><th>Email</th></tr>
                            {% for mo in affaire.mo %}
                        <tr><td>{{ mo.nom }}</td><td>{{ mo.tel }}</td><td>{{ mo.mail }}</td></tr>
                    {% endfor %}
                </table>
            {% else %}
                Aucun MO trouvé
            {% endif %}
        </div>
    </div>
</div>


<div class='panel panel-default col-md-13'>
    <div class='panel-heading'>
        <div class="panel-title">
            Maîtrise d'oeuvre
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
                <table class='table'>
                    {% for moe in affaire.moe %}
                        <tr><th colspan="4">{{ moe.nom_entreprise }}</th></tr>
                    <tr><td>{{moe.nom}}</td><td>{{moe.prenom}}</td><td>{{ moe.tel }}</td><td>{{ moe.mail }}</td></tr>
                    {% endfor %}
                </table>
        </div>
    </div>
</div>