<fieldset>
    <legend>Renseignements généraux </legend>
    <div class='legend-right'>{% if affaire.id_qp_contrat %}<div style="cursor: pointer" onClick="window.open('http://qualiperf.qualigroup.net/espace_commerce/affaires_detail.aspx?id_contrat={{affaire.id_qp_contrat}}')" class="label label-primary">Qualiperf</div> {% endif %}{% if affaire.id_g_affaire %}<span class="label label-primary" style="cursor: pointer" onClick="window.open('http://gaia.qualigroup.net/?a={{affaire.id_g_affaire}}')">Gaia</span>{% endif %}</div>

    <div class="col-md-12">

        <form method="POST" {% if import %}action="{{ base_url}}/affaire_c/import/"{% else %}action="{{ base_url}}/affaire_c/edit/"{% endif %} class="form-inline col-md-12" id="form_creation_affaire">
            <div class='form-group col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class='col-md-2 col-sm-4 col-xs-4'>Numéro d'affaire</div>
                <div class='col-md-10'>
                    <input class='col-md-12 form-control' name="numero" value="{{affaire.code }}" {% if context.user.role != 8 and context.user.role != 10%}readonly{#required pattern="^[0-9]{12}((AVT|avt)[0-9]{3,5})?$"#}{% endif %} {% if affaire.id_qp_contrat %}readonly{% endif %}>
                </div>
            </div>
            <div class='form-group col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class='col-md-2 col-sm-4 col-xs-4'>Désignation</div>
                <div class='col-md-10'>
                    <input class='col-md-12 col-sm-8 col-xs-8 form-control' required name="libelle" value='{{ affaire.libelle }}' {% if affaire.id_qp_contrat %}readonly{% endif %}>
                </div>
            </div>
            <div class='form-group col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class='col-md-2 col-sm-4 col-xs-4'>Missions</div>
                <div class="col-md-10">
                    <input class='col-md-12 form-control' {% if context.user.role != 8 and context.user.role != 10%}required{% endif %} name="missions" value='{{ affaire.missions }}' {% if affaire.id_qp_contrat %}readonly{% endif %}>
                </div></div>
            <div class='form-group col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class='col-md-2 col-sm-12 col-xs-12'>Adresse</div>
                <div class='col-md-10 col-sm-12 col-xs-12' style="padding: 0">
                    {% include 'global/forms/form_adresse.html.twig' with {'adresse': affaire.adresse, 'edit': (not affaire.id_qp_contrat), 'required': true, 'context': context } only %}
                </div>
            </div>
            <div class='form-group col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class='col-md-2 col-sm-4 col-xs-4'>Chargé d'affaire</div>
                <div class="col-md-10">
                    <input id='select_ca' name="ca" class="form-control col-md-12  col-sm-8 col-xs-8" value="{{affaire.ca}}" {% if affaire.id_qp_contrat %}readonly{% endif %}><input type="hidden" name="id_ca" value="{{ affaire.id_ca }}">
                </div></div>
            <div class='form-group col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class='col-md-2 col-sm-4 col-xs-4'>Service contentieux</div>
                <div class="{% if (context.user.role >= 2) %}col-md-8{% else %}col-md-10{% endif %}">
                    <input readonly id='select_sv' name="service_ctx" class="form-control col-md-12  col-sm-8 col-xs-8" value="{{ affaire.nom_service_contentieux }}"><input type="hidden" id='id_service_ctx' name="id_service_ctx" value="{{ affaire.id_service_contentieux }}">
                </div>
                {% if (context.user.role >= 2) %}
                    <div class="col-md-2">
                        <button type="button" class="btn btn-sm btn-primary pull-right select_sv" for="select_sv">Modifier</button>
                    </div>
                {% endif %}
            </div>
            <div class='form-group col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class='col-md-2 col-sm-4 col-xs-4'>Service émetteur</div>
                <div class="{% if affaire.id_qp_contrat %}col-md-10{% else %}col-md-8{% endif %}">
                    <input readonly id='select_sv_ctx' name="service" class="form-control col-md-12  col-sm-8 col-xs-8" value="{{affaire.nom_service}}"><input type="hidden" id='id_service' name="id_service" value="{{ affaire.id_service }}">
                </div>
                {% if not affaire.id_qp_contrat %}
                    <div class="col-md-2">
                        <button type="button" class="btn btn-sm btn-primary pull-right select_sv" for="select_sv_ctx">Modifier</button>
                    </div>
                {% endif %}
            </div>
            <div class='form-group col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class='col-md-2 col-sm-4 col-xs-4'>Section analytique agence</div>
                <div class="col-md-10">
                    <input id='sage' name="sage" class="form-control col-md-12  col-sm-8 col-xs-8" readonly value="{{ affaire.sage }}">
                </div></div>
                {% if context.edit %}
                <div class='form-group col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                    <div class='col-md-2 col-sm-4 col-xs-4'>RCR</div>
                    <div class="col-md-10">
                        <select {% if context.user.role != 8 and context.user.role != 10 %}disabled{% endif %} name="rcr" class="col-md-12 form-control" style="width: 100%">
                            {% for rcr in rcrs %}
                                <option {% if rcr.id_utilisateur == id_rcr_aff %}selected{% endif %} value="{{rcr.id_utilisateur}}">{{rcr.prenom}} {{rcr.nom}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="btn btn-gaia pull-right">Enregistrer</button>
            {% endif %}
        </form>
    </div>
</fieldset>
<div class="modal fade" tabindex="-1" role="dialog" id="modal_selection_service">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sélection d'un service</h4>
            </div>
            <div class="modal-body">
                <p>Sélectionnez le service dans la liste</p>
                <input class="form-control" id='filtrer_services_modal' placeholder="filtrer" style="margin-bottom: 10px">
                <select class="form-control" multiple style="height: 300px">
                    {% for service in services %}
                        <option class='select_service' value='{{ service.id_service }}' nom='{{ service.nom }}'>{{ service.nom }}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(document).ready(function () {

        let modal_service_for;

        $(".select_sv").click(function () {
            $('#modal_selection_service').modal();
            modal_service_for = $(this).attr("for");
        });

        $("#select_ca").autocomplete({
            source: AJAXPATH + "/Ajax_c/get_utilisateurs_qperf_autocomp/",
            select: function (event, ui) {
                event.preventDefault();
                $(this).val(ui.item.label);
                $(this).next('input').val(ui.item.id);
            }
        });

        $("#select_ca").change(function () {
            if ($(this).val() == "") {
                $(this).next('input').val("");
            }
        });

        $("#select_sv").autocomplete({
            source: AJAXPATH + "/Ajax_c/get_sv_qperf_autocomp/",
            select: function (event, ui) {
                event.preventDefault();
                $(this).val(ui.item.label);
                $(this).next('input').val(ui.item.id);
                $.ajax("{{ajax_url}}/ajax_c/getSage/" + $(this).next('input').val()).done(function (sage) {
                    $('#sage').val(sage);
                });
            }
        });

        $("#select_sv").change(function () {
            if ($(this).val() == "") {
                $(this).next('input').val("");
                $('#sage').val("");
            }
        });

        $("#select_sv_ctx").autocomplete({
            source: AJAXPATH + "/Ajax_c/get_sv_qperf_autocomp/",
            select: function (event, ui) {
                event.preventDefault();
                $(this).val(ui.item.label);
                $(this).next('input').val(ui.item.id);
            }
        });

        $("#select_sv_ctx").change(function () {
            if ($(this).val() == "") {
                $(this).next('input').val("");
            }
        });

        $('#form_creation_affaire').submit(function (e) {
            if ($('#id_service_ctx').val() == null || !$('#id_service_ctx').val() > 0) {
                e.preventDefault();
                alert('Merci de sélectionner le service contentieux dans la liste des propositions');
                $('#select_sv').val("");
            }
        });

        $('#filtrer_services_modal').keyup(function () {
            let term = $(this).val().toLowerCase();
            $("OPTION.select_service").show();
            $("OPTION.select_service").toArray().forEach(function (elem) {
                if ($(elem).attr("nom").toLowerCase().substr(0, term.length) != term) {
                    $(elem).hide();
                }
            });
        });

        $("OPTION.select_service").click(function () {
            let val = $(this).attr("value");
            let nom = $(this).attr("nom");
            console.log(val);
            $('#modal_selection_service').modal("toggle");

            $('#' + modal_service_for).val(nom);
            $('#' + modal_service_for).next("INPUT").val(val);
        });
    });
</script>