{% if tranches %}
    <fieldset>
        <legend>Tranches de l'affaire</legend>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th><th>Designation</th><th>Missions</th><th>Stade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tranche in tranches %}
                        <tr>
                            <td>{{tranche.tra_index}}</td>
                            <td>{{tranche.tra_libelle}}</td>
                            <td>{{tranche.missions}}</td>
                            <td>{{tranche.tra_stade}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</fieldset>