<!Doctype HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CONTENTIEUX</title>
        <link rel="icon" type="image/x-icon" href="{{ assetsdir }}/favicon.ico">
        <script src="{{ assetsdir }}/js/jquery-2.1.3.min.js"></script>
        <!-- bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href='{{ assetsdir }}/css/bootstrap.css'> {#href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">#}
        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ assetsdir }}/js/bootstrap.min.js"></script>
        <!-- /bootstrap -->
        <script src="{{ assetsdir }}/jquery-ui/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="{{ assetsdir }}/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="{{ assetsdir }}/jquery-ui/jquery-ui.theme.min.css">
        <link rel="stylesheet" href="{{ assetsdir }}/css/main.css">
        <script>
            AJAXPATH = "{{ ajax_url }}";
        </script>
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        {% block topbar %}
            {% include 'topbar/topbar.html.twig' %}
        {% endblock topbar %}
        {% block body %}
        {% endblock body %}
        {% block javascripts %}
        {% endblock javascripts %}
        {% block forcechrome %}
            <script>

                var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1 && navigator.userAgent.toLowerCase().indexOf('edge') == -1;
                if (is_chrome == false)
                    window.location.replace("http://apps.qualigroup.net/information/navigateur/contentieux");
            </script>
        {% endblock %}
{#        <script>
            $(document).ready(function () {
                $('*[required]').css('background-color', '#FFC');
            });
        </script>#}

    </body>
</html>