{% extends 'base.html.twig'%}
{% block body %}
    <div class="container-fluid">
        <div class="col-md-12 breadcrumb">
            <input class="form-control" id="input_recherche">
        </div>
        <div class="col-md-12">
            <span id="span_load">Chargement .. <img src="{{ assetsdir }}/images/ajax-loading.gif" id="load" width="20"></span>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date derniere modif</th>
                        <th>statut</th>
                        <th>Réf asqua</th>
                        <th>Réf provisoire</th>
                        <th>libelle</th>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody id="table_list">
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            var liste;

            $.get(AJAXPATH + '/asqua/getListAjax', function (data) {
                $('#span_load').hide();
                liste = JSON.parse(data);
                displayListe(liste);
            });

            function displayListe(liste) {
                $('#table_list').empty();
                liste.forEach(function (elem) {
                    var row = makeRow(elem);
                    $('#table_list').append(row);
                });
            }

            function makeRow(elem) {
                var tr = document.createElement('TR');

                var td1 = document.createElement('TD');
                $(td1).append(elem[0]);

                var td2 = document.createElement('TD');
                $(td2).append(elem[2]);


                var td3 = document.createElement('TD');
                $(td3).append(elem[3]);

                var td4 = document.createElement('TD');
                $(td4).append(elem[4]);

                var td5 = document.createElement('TD');
                $(td5).append(elem[5]);

                var td6 = document.createElement('TD');
                $(td6).append(elem[6]);

                $(tr).append(td1).append(td2).append(td3).append(td4).append(td5).append(td6);
                return tr;

            }

            $('#input_recherche').on('keyup', function () {
                var term = $(this).val();
                var str_regexp = ".*" + term.toLowerCase() + ".*";
                var regexp = new RegExp(str_regexp);
                var liste_filtree = new Array();

                liste.forEach(function (elem) {
                    if (elem.some(function (relem) {
                        return regexp.test(relem.toLowerCase());
                    }))
                        liste_filtree.push(elem);
                });

                displayListe(liste_filtree);
            });
        });
    </script>
{% endblock %}