{% extends "base.html.twig" %}
{% block body %}
    <style>
        body  {
            padding-top: 50px;
        }
    </style>
    <div class="container-fluid" style="padding: 0px 10px">
        <header class="page-header" style="margin-top: 0;">
            <h1>Sinistres en attente de synchronisation ({{ sinistres|length }})</h1>
        </header>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numéro d'affaire</th>
                        <th>Numéro de sinistre</th>
                        <th>Date de déclaration</th>
                        <th>Adresse</th>
                        <th>Description</th>
                        <th style="text-align: center">Convocation expert</th>
                        <th style="text-align: center">Renseigner ref</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><th colspan="7">Sinistres sans réf asqua</th></tr>
                            {% for sinistre in sinistres if (sinistre.ref_asqua == '' or sinistre.ref_asqua is null) %}
                        <tr>
                            <td>{{ sinistre.affaire.code }}</td>
                            <td>{{sinistre.num_chrono }}</td>
                            <td>{% if sinistre.date_declaration %}{{sinistre.date_declaration|date('d-m-Y') }}{% endif %}</td>
                            <td>{{sinistre.adresse }}</td>
                            <td>{{ sinistre.description_qc }}</td>
                            <td style="text-align: center">{% if sinistre.declaration.id %}<a style="color: black" href='{{ base_url }}/asqua/download/{{sinistre.declaration.id}}'><span class="glyphicon glyphicon-file"></span></a>{% else %}<span title="Indisponible "class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                            <td style="text-align: center"><a style="color: black" href='{{ base_url }}/asqua/ref_asqua/{{sinistre.id }}/{{ sinistre.token_asqua }}'><span class="glyphicon glyphicon-pencil"></span></a></td>
                        </tr>
                    {% endfor %}
                    <tr><th colspan="7">Sinistres avec réf asqua mais non synchronisés</th></tr>
                            {% for sinistre in sinistres if (sinistre.ref_asqua != '' and sinistre.ref_asqua is not null )%}
                        <tr>
                            <td>{{ sinistre.affaire.code }}</td>
                            <td>{{sinistre.num_chrono }}</td>
                            <td>{% if sinistre.date_declaration %}{{sinistre.date_declaration|date('d-m-Y') }}{% endif %}</td>
                            <td>{{sinistre.adresse }}</td>
                            <td>{{ sinistre.description_qc }}</td>
                            <td style="text-align: center">{% if sinistre.declaration.id %}<a style="color: black" href='{{ base_url }}/asqua/download/{{sinistre.declaration.id}}'><span class="glyphicon glyphicon-file"></span></a>{% else %}<span title="Indisponible "class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                            <td style="text-align: center">{{sinistre.ref_asqua}} <a style="color: black" href='{{ base_url }}/asqua/ref_asqua/{{sinistre.id }}/{{ sinistre.token_asqua }}'><span class="glyphicon glyphicon-pencil"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody></div>
    </div>
{% endblock %}
{% block forcechrome %}
{% endblock %}
