{% extends 'admin/admin.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="col-md-12" style="padding-top: 90px">
            <div class="col-md-7">
                <fieldset>
                    <legend>Types</legend>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Libelle</th>
                                <th style="width: 50px">num</th>
                                <th>Catégorie(s)</th>
                                <th>del</th>
                            </tr>
                        </thead>
                        <tbody class="tbody_types">
                            {% for type in types %}
                                <tr>
                                    <td><input class="form-control libelle_type" value="{{type.type}}" id_type="{{type.id }}"></td>
                                    <td><input style="width: 50px" class="form-control num_type" value="{{type.num}}" id_type="{{type.id }}"></td>
                                    <td>
                                        {% for type_categorie in type.categories %}
                                            <select id_type="{{type.id}}" num_type="{{ type.num }}" class="form-control select_categorie" style="padding-left: 20px" id_type_cat="{{type_categorie.id_asso}}">
                                                {% for categorie in categories %}
                                                    <option value="{{categorie.num}}" {% if type_categorie.num_categorie == categorie.num %}selected{% endif %}>{{categorie.libelle}}</option>
                                                {% endfor %}
                                                <option value="supprimer"> >> Supprimer</option>
                                            </select>
                                        {% endfor %}
                                        <select id_type="{{type.id}}" num_type="{{ type.num }}" class="form-control select_categorie">
                                            <option value=""></option>
                                            {% for categorie in categories %}
                                                <option value="{{ categorie.num}}">{{categorie.libelle}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td><span class="glyphicon glyphicon-remove del_type" id_type="{{type.id}}" style="cursor: pointer"></span></td>
                                    {% endfor %}
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <button class="btn btn-primary ajout_type">Ajouter</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
            <div class="col-md-5">
                <fieldset>
                    <legend>Catégories</legend>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Libelle</th>
                                <th style="width: 50px">num</th>
                                <th>del</th>
                            </tr>
                        </thead>
                        <tbody class="tbody_liste_cat">
                            {% for categorie in categories %}
                                <tr>
                                    <td><input id_doc="{{categorie.id}}" class="form-control libelle_cat" value="{{categorie.libelle}}"></td>
                                    <td><input id_doc="{{categorie.id}}" class="form-control num_cat" value="{{categorie.num}}" style="width: 50px"></td>
                                    <td style="width: 50px"><span id_doc="{{categorie.id}}" class="glyphicon glyphicon-remove del_cat" style="cursor: pointer;"></span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tbody>
                            <tr><td colspan="3">
                                    <button class="btn btn-primary btn_ajouter">Ajouter</button>
                                </td></tr></tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            
            $(document).on("change", ".libelle_cat", function () {
                let val = $(this).val();
                let id = $(this).attr("id_doc");
                $.get(location.href + "?action=change&id=" + id + "&col=libelle&val=" + JSON.stringify(val));
            });

            $(document).on("change", ".num_cat", function () {
                let val = $(this).val();
                let id = $(this).attr("id_doc");
                $.get(location.href + "?action=change&id=" + id + "&col=num&val=" + JSON.stringify(val));
            });

            $(document).on("click", ".del_cat", function () {
                let id_doc = $(this).attr("id_doc");
                $.get(location.href + "?action=delete&id_doc=" + id_doc, function (r) {
                    if (r == "ok") {
                        console.log($(this));
                        $(this).parent().parent().remove();
                    }
                }.bind(this));
            });

            $(document).on("click", ".btn_ajouter", function () {
                $.get(location.href + "?action=add", function (r) {

                    let resp = JSON.parse(r);
                    let id = resp.id;
                    let num = resp.num;

                    $(".tbody_liste_cat").append(`                        
                        <tr>
                            <td><input id_doc="${id}" class="form-control libelle_cat" value=""></td>
                            <td style="width: 50px"><span id_doc="${id}" class="glyphicon glyphicon-remove del_cat" style="cursor: pointer;"></span></td>
                        </tr>`);
                });
            });

            $(document).on("change", ".select_categorie", function () {
                let num_cat = $(this).val();
                let num_type = $(this).attr("num_type");
                if (num_cat == "supprimer") {
                    let id_type_cat = $(this).attr("id_type_cat");
                    $.get(AJAXPATH + "/admin/admin_documents/supprimer_asso_type_cat/" + id_type_cat, function (r) {
                        if (r == "ok") {
                            $(this).remove();
                        }
                    }.bind(this));
                } else {
                    $.get(AJAXPATH + "/admin/admin_documents/lier_type_categorie/" + num_type + "/" + num_cat);
                }
                //location.reload();
            });

            $(document).on("change", ".libelle_type", function () {
                let val = JSON.stringify($(this).val());
                let id = $(this).attr("id_type");
                $.get(AJAXPATH + "/admin/admin_documents/change_libelle_type/" + id + "?libelle=" + val);
            });

            $(document).on("change", ".num_type", function () {
                let val = JSON.stringify($(this).val());
                let id = $(this).attr("id_type");
                $.get(AJAXPATH + "/admin/admin_documents/change_num_type/" + id + "?num=" + val);
            });

            $(document).on("click", ".del_type", function () {
                let id_type = $(this).attr("id_type");
                $.get(AJAXPATH + "/admin/admin_documents/del_type/" + id_type, function (r) {
                    if (r == "ok") {
                        $(this).parent().parent().remove();
                    }
                }.bind(this));
            });

            $(document).on("click", ".ajout_type", function () {
                $.get(AJAXPATH + "/admin/admin_documents/ajout_type_doc", function (id) {
                    location.reload();
                });
            });
        });
    </script>
{% endblock %}