{% extends 'admin/admin.html.twig' %}
{% block body %}
    <header class="page-header">
        <h3>Types de documents</h3>
    </header>
    <div class="container">
        <form method="POST">
            <table class="table">
                <tbody>
                <th>Num</th><th>Libellé</th><th>categorie par défaut</th>
                </tr>

                    {% for doc in docs %}
                        <tr>
                            <td>{{ doc.num }}</td><td>{{ doc.type }}</td><td><select name="doc_{{ doc.id }}" class="form-control">
                                    <option value=''>Aucun</option>
                                    {% for categorie in categories %}

                                        <option {% if (doc.categorie.id == categorie.id) %}selected{% endif %} value='{{categorie.id}}'>{{ categorie.libelle }}</option>
                                    {% endfor %}
                                </select></td>
                        </tr>
                    {% endfor %}
            </table>
            <button type="submit" class="btn btn-primary pull-right">Valider</button>
        </form>
    </div>
{% endblock %}