<div class='col-md-12' style="margin-bottom: 20px">
{#    <label class="label label-danger">
        Suite à la migration de Qualiperf, les liens vers les documents de type "Convention signée" ne sont plus fonctionnels, une solution est en cours de développement.
    </label>#}
    <fieldset>
        <legend>Filtres</legend>
        <div class="col-md-3" style="line-height: 40px;">
            <input class="form-control" name='docs_recherche' style="width: 100%; line-height: 25px" placeholder="Recherche" {% if filtres and filtres.recherche and filtres.recherche != "" %}value="{{filtres.recherche}}"{% endif %}>
        </div>
        <div class="col-md-2" style="line-height: 40px">
            <select class="form-control" name='docs_type' style="width:100%;">
                <option {% if filtres.type == 'none' or not filtres %}selected{% endif %} value="none">Type de document</option>
                {% for type_doc in types %}
                    <option value='{{ type_doc.num }}' {% if filtres and filtres.type != "none" and type_doc.num == filtres.type %}selected{%endif%}>{{ type_doc.type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2" style="line-height: 40px">
            <select class="form-control" name='docs_categorie' style="width:100%">
                <option value="none">Catégorie</option>
                {% for cat_doc in categories %}
                    <option value='{{ cat_doc.num }}' {% if filtres and filtres.cat != "none" and cat_doc.num == filtres.cat %}selected{%endif%}>{{ cat_doc.libelle }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <div class="col-md-3">
                <label>Date</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" type="date" id='input_date' {% if filtres.date %}value="{{filtres.date}}"{% endif %}></input>
            </div>
        </div>
        <div class="col-md-2" style="line-height: 40px;">
            <button type="button" id='btn_upload' class="btn btn-sm btn-gaia pull-right">Importer un document</button>
        </div>
    </fieldset>
</div>