<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>#</th><th>Nom</th><th>Type</th><th>Catégorie</th><th>Date du document</th><th>Date de reception</th><th></th>
        </tr>
    </thead>
    <tbody>
        {% for doc in docs %}
            <tr class='doc_row'>
                <td>{{ loop.index }}</td><td>{{doc.nom }}</td><td>{{doc.type.type}}</td><td>{{ doc.categorie.libelle }}</td><td> {% if doc.date != null %}{{ doc.date|date("d/m/Y") }}{% endif %}</td><td>{% if doc.date_reception != null %}{{ doc.date_reception|date("d/m/Y") }}{% endif %}</td>
                <td>{% if (doc.id|slice(0, 1) != "g") and (doc.id|slice(0, 1) != "q") %}
                    <a href="{{base_url }}/documents/download/{{ doc.id }}" style="color: black">
                        {% elseif (doc.id|slice(0, 1) == "q") %}
                            <a href="{{doc.uri}}" style="color: black">
                                {% else %}
                                    <a href="{{ doc.uri }}" style="color: black">
                                        {% endif %}
                                            <button type="button" class="btn btn-default print_cv" aria-label="Left Align"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span></button>
                                                {% if (doc.id|slice(0, 1) != "g") and (doc.id|slice(0, 1) != "q") %}
                                                <a href="{{base_url }}/documents/supprimer/{{ doc.id }}" title="Supprimer le document" style="color: black"><span class="glyphicon glyphicon-remove"></span></a>
                                            {% endif %}</td>
                                            </tr>
                                            {% endfor %}
                                                </tbody>
                                                </table>