<fieldset>
    <legend>
        Expertise
    </legend>
    <div class='form-group'>
        <div class='col-md-2'>Référence dossier expert</div>
        <div class="col-md-4">
            <input style="height: 34px" class="form-control" name="ref_dossier_expert" value="{{ statut.ref_dossier_expert }}">
        </div>
        <div class='col-md-2'>Date première réunion expertise</div>
        <div class="col-md-4">
            <input style="height: 34px" class='col-md-12 form-control' type="date" name="date_premiere_reunion_expertise" {% if statut.date_premiere_reunion_expertise %}value="{{ statut.date_premiere_reunion_expertise|date('Y-m-d') }}"{% endif %} {% if not edit %}readonly{% endif %}>
        </div>
    </div>
    <div class="separator-50"></div>
    <div class='form-group'>
        <div class='col-md-2'>Cabinet d'experts</div>
        <div class='col-md-10' style="padding: 0">
            {% include 'global/forms/contact.html.twig' with {'edit' : edit, 'contact' : statut.cabinet_expert, 'justname' : true, 'prefix' : 'cabinet_expert' }  %}
        </div>
    </div>
    <div class="col-md-12 separator-20"></div>
    <div class='form-group'>
        <div class='col-md-2'>Contact expert</div>
        <div class='col-md-10' style="padding: 0">
            {% include 'global/forms/contact.html.twig' with { "edit" : edit, "prefix" : 'expert', "contact" : statut.contact_expert} %}
        </div>
    </div>
    <div class="col-md-12 separator-20"></div>
    <div class='form-group'>
        <div class='col-md-2'>Adresse expert</div>
        <div class='col-md-10' style='padding: 0; margin: 0'>
            {% include 'global/forms/form_adresse.html.twig' with { "edit" : edit, "prefix" : 'expert_', "adresse" : statut.cabinet_expert.adresse } %}
        </div>
    </div>
</fieldset>


