.legend-right {
    float: right;
    margin-top: 0;
    position: relative;
    bottom: 40px;
    right: 10px;
}

.form-vertical input, .form-vertical select, .form-vertical textarea {
    margin-bottom: 2px !important;
}

#panel_infos_affaire {
    display: none;
    position: absolute;
    background-color: white;
    color : rgb(22,92,165);
    padding-left: 20px;
    top: 50px;
    left: 200px;
    float: left;
    box-shadow: 3px 3px 8px gray;
    width: 600px;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(22,92,165);
    border-top: 0;
}

input[type="date"] {
    height: 25px;
    padding: 0;
    padding-left: 10px;
}

.panel .formpart {
    display: inline-block;
    color: gray;
    background-color: white;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding-bottom: 5px;
    border-bottom-right-radius: 10px;
}

.panel-primary {
    border-radius: 0;
}

.panel-primary > .panel-heading {
    border-radius: 0;
    background: none;
    background-color: rgb(22,92,165);
}

h3 {
    color: rgb(22,92,165);
    font-weight: bolder;
    margin-bottom: 0;
    padding-bottom: 0;
}

*[readonly] {
    background-color: #f4f3f3;
}

ul.nav-pills li.active a {
    background-color: rgb(22,92,165);
}

/*fieldset {
    border: 1px dotted grey;
    padding: 0;
    padding-bottom: 10px;
    margin: 0 0 0 5px;
}

legend {
    color : rgb(22,92,165);
    font-size: 1em;
    font-weight: bold;
    width: inherit;
    border-bottom: 0;
    margin-left: 15px;
}*/

fieldset {
    border: 1px solid rgb(235,235,235);
    border-radius: 5px;
    padding: 0px 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

fieldset legend {
    font-family: verdana;
    font-size: 1em;
    border: none;
    margin-left: 10px;
    padding: 0px 5px;
    width: inherit;
    font-weight: bold;
    color: rgb(22,92,165);
}

.btn-gaia, .btn-gaia:focus, .btn-gaia:active, .btn-gaia:visited {
    border-radius: 5px;
    background-color: #337ab7;
    color: white;
}

.btn-gaia:hover {
    color: white;
    border-color: black;
}

.separator-50 {
    margin-bottom: 50px;
}

.separator-20 {
    margin-bottom: 20px;
}

.separator-100 {
    margin-bottom: 100px;
}

input[type=date] {
    padding: 0;
    min-width: 150px;
}

.form-inline input {
    width: 100% !important;
}

.form-inline .form-group {
    margin-bottom: 10px;
}

legend {
    background-color: white;
    z-index: 10;
}

#div_filtre_statuts {
    width:350px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}