
<table width="750" style='text-align: left'>
    <tbody>
        <tr>
            <td><b>Rappel automatique - Grille d'analyse rapport expert</b></td><td>num sin : {{ file.statut.sinistre.id }}</td></tr>
        <tr><td>Rapport : {{file.nom }}</td><td></td></tr>
        <tr><td>Date de reception du rapport : {{file.date_reception|date('d/m/Y')}}</td><td></td></tr>
        <tr>
            <td colspan="2"><br><br>Bonjour,<br><br>

                Le rapport référencé en marge n'a pas fait l'objet d'une analyse de vôtre part, merci d'y procéder au plus vite.
                <br><br>
                Cordialement.
                <br><br>
                {{ from }}
            </td></tr>
    </tbody>
</table>