{% extends "base.html.twig" %}
{% block body %}
    <div class='container'>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    Choix affaire
                </div>
            </div>
            <div class="panel-body">
                <div class="well">
                    Plusieurs affaires correspondante à vôtre recherche ont été trouvées dans Qualiperf, veuillez en sélectionner une ou <a href="{{ base_url }}/recherche/creation/">Créez une nouvelle affaire</a>.
                </div>
                {% for affaire in affaires %}
                    <ul class="list-group">
                    {% include "/affaire/blocks/row_choix_affaire.html.twig" %}
                    </ul>
                  {% endfor %}  
            </div>
        </div>
    </div>
{% endblock %}