{% extends "base.html.twig" %}
{% block topbar %}
    {{ parent() }}
    {% include 'topbar/topbar2.html.twig' %}
{% endblock %}

{% block body %}
    <div class='container-fluid'>
        <div class="col-md-12">
            <h3 style="margin-bottom: 10px">Fiche affaire {% if context.affaire.statut_affaire == 1 %}<span style="font-size: 12px" class="label label-warning">Archivée</span>{% endif %}<button style="font-size: 12px" class="btn btn-primary pull-right" id='btn_toggle_archiver' id_affaire="{{context.affaire.id}}">{{ (context.affaire.statut_affaire == 0) ? "Archiver l'affaire" : "Désarchiver l'affaire" }}</button></h3>
        </div>
        <div class='col-lg-6 col-md-12'>
            {% include 'affaire/blocks/renseignements_generaux.html.twig' with { affaire : context.affaire } %}
            {% include 'affaire/blocks/tranches.html.twig'%}
        </div>
        <div class='col-lg-6 col-md-12'>
            {% include 'affaire/blocks/mo.html.twig'%}
            {% include 'affaire/blocks/moe.html.twig'%}
            {% include 'affaire/blocks/affaires_operation.html.twig' with { affaires : affaires_op } %}
        </div>
        <div {% if mos|length == 0 and moes|length == 0 %}class="col-md-offset-2 col-md-8"{% else %}class='col-md-12'{% endif %}>
        </div>
    </div>
        <script>
            $('#btn_toggle_archiver').click(function() {
                var id_affaire = $(this).attr("id_affaire");
               $.get(AJAXPATH + "/affaire_c/toggle_archiver/" + id_affaire, function(r) {
                   if (r == "OK") {
                       location.reload();
                   } else {
                       alert("Impossible d'archiver l'affaire, vérifiez que tous les sinistres soient clos");
                   }
               });
            });
        </script>
{% endblock %}