<form class='form-horizontal' role='search' method='POST' action='{{ base_url }}/Recherche' id='form_recherche_affaire'>
    <fieldset>
        <legend>Filtres</legend>
        <div class="col-md-6">
            {% if context.user.role > 4 %}
                <div class="form-group">
                    <label for='agence' class="col-md-2 control-label">Agence</label>
                    <div class="col-md-10">
                        <select id="recherche_affaire_agence" class="form-control" name='agence'>
                            <option value=''></option>
                            {% for agence in agences %}
                                <option value='{{agence.id_entite}}' {% if agence.id_entite == context.search.agence %}selected{% endif %}>{{agence.nom}}</option>
                            {% endfor %} 
                        </select>
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label for='agence' class="col-md-2 control-label">Recherche</label>
                <div class="col-md-10">
                    <input type='text' name='recherche_affaire_libre' class="form-control" value='{{ context.search.recherche|replace({"''" : "'"}) }}'></input>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for='agence' class="col-md-2 control-label">Sinistres</label>
                <div class="col-md-10" style="padding-top: 7px">
                    <input type='checkbox' name='statut_do' id="statut_do" {% if context.search.statuts.do %}checked{% endif %}><label for="statut_do">&nbsp;DO &nbsp;&nbsp;</label>
                    <input type='checkbox' name='statut_av1' id="statut_av1" {% if context.search.statuts.av1 %}checked{% endif %}><label for="statut_av1">&nbsp;AV1 &nbsp;&nbsp;</label>
                    <input type='checkbox' name='statut_jud' id="statut_jud" {% if context.search.statuts.jud %}checked{% endif %}><label for="statut_jud">&nbsp;Jud. &nbsp;&nbsp;</label>
                    <input type='checkbox' name='statut_autre' id="statut_autre" {% if context.search.statuts.autre %}checked{% endif %}><label for="statut_autre">&nbsp;Autre &nbsp;&nbsp;</label>
                    <input type='checkbox' name='statut_rp' id="statut_rp" {% if context.search.statuts.rp %}checked{% endif %}><label for="statut_rp">&nbsp;Référé Prev. </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type='checkbox' name='statut_affaire_1' id="statut_affaire_1" {% if context.search.statut_affaire_1 == true %}checked{% endif %}><label for="statut_affaire_1">&nbsp;Afficher les affaires archivées</label>
                    <button type='submit' name='rechercher' class="btn btn-sm btn-primary pull-right">Filtrer</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<script>
    /*
     * Autocompletion
     */
    $(document).ready(function () {

        $('#recherche_affaire_numero').autocomplete(
                {source: "{{ ajax_url }}/ajax_c/listcodes",
                    select: function (event, ui) {
                        event.preventDefault();
                        $(this).val(ui.item.label);
                        $(this).next('input').val(ui.item.id);
                        var code = $(this).next('input').val();
                        var id = ui.item.pk;
                        //document.location = "{{ ajax_url }}/recherche/quickaccess/" + code;
                        document.location = "{{ ajax_url }}/Affaire_c/index/" + id;
                    }}
        );

        $('#recherche_affaire_numero').keydown(function (e) {

            if ($(this).val().length < 2)
                $(this).next('input').val("");
            if (e.keyCode == 13) {
                if ($(this).next('input').val() != "") {
                    var code = $(this).next('input').val();
                    document.location = "{{ ajax_url }}/recherche/quickaccess/" + code;
                }
            }
        });

        $('#recherche_affaire_agence').change(function () {

            $('#form_recherche_affaire').submit();
        });

    });
</script>
