{% extends "base.html.twig" %}
{% block topbar %}
    {{ parent() }}
    {% include 'topbar/topbar2recherche.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class='col-md-12'>
            <h3 class="page-header" style="padding-top: 0px; margin-top: 20px;">Identification d'une affaire</h3>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class='form' method='POST' id="form_mail">
                <div class='form-group'>
                    <div class='input-group'>
                        <span class='input-group-addon' style='min-width: 130px'>A</span>
                        <input type='text' class='form-control' name='destinataires' placeholder="Email de l'expert" value='{{ destinataires }}'></input>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='input-group'>
                        <span class='input-group-addon' style='min-width: 130px'>CC</span>
                        <input type='text' class='form-control' name='cc' value='{{ CC }}'></input>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='input-group'>
                        <span class='input-group-addon' style='min-width: 130px'>Objet</span>
                        <input type='text' class='form-control' name='objet' value='{{ objet }}'></input>
                    </div>
                </div>
                {% if edit %}<button type='submit' name='Envoyer' class="btn btn-default" style='margin-left: 15px'>Envoyer</button>{% endif %}
            </form>
            <center>
                {%block mail %}
                    {{ mail_content|raw }}
                {% endblock %}
            </center>
        </div>

        <link rel="stylesheet" href="{{ assetsdir }}/css/mails.css">
    </div>
{% endblock %}