{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{assetsdir}}/css/form_nouvelle_affaire.css">
{% endblock css %}
{% block topbar %}
    {{ parent() }}
    {% include 'topbar/topbar2recherche.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Nouvelle affaire en contentieux
                    </div>
                </div>
                <div class="panel-body">
                    {% if message %}
                        <div class="well">
                            {{ message }}
                        </div>
                    {% endif %}
                    <form method="POST" action="{{ base_url }}/affaire_c/nouvelle_affaire">
                        <label for="numero_affaire" value="id">Numéro d'affaire</label>
                        <input id="input_user" class="form-control" type="text" name="affaire_numero" value='{{ context.search.num_affaire }}'{% if context.user.role != 8 and context.user.role != 10 %} required pattern="^[a-zA-Z0-9][0-9]{11}((AVT|avt)[0-9]{3,5})?$"{% endif %}>
                        <button class='btn btn-primary' type='submit' name='creer'>Suivant</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}