{% extends "base.html.twig" %}
{% block topbar %}
    {{parent()}}
    {% include 'topbar/topbar2recherche.html.twig' %}
{% endblock %}
{% block body %}
    <div class='container-fluid' style="margin-top: 20px">
        {% if message %}
            <div class="col-md-12">
                {{ message }} <br>
                <ul>
                    <li>{% if affaire.id_qp_contrat %}<b style="color:green">Affaire trouvée dans Qualiperf</b><br>{% else %}<b style="color:lightcoral">Affaire non trouvée dans Qualiperf</b><br>{% endif %}</li>
                    <li>{% if affaire.id_g_affaire %}<b style="color:green">Affaire trouvée dans Gaia</b>{% else %}<b style="color:lightcoral"> Affaire non trouvée dans Gaia</b>{% endif %}</li>
                </ul>
            </div>
        {% endif %}
        <div class='col-md-6'>
            {% include 'affaire/blocks/renseignements_generaux.html.twig'%}
        </div>
        <div class='col-md-6'>
            {% include 'affaire/blocks/mo.html.twig'%}
            {% include 'affaire/blocks/moe.html.twig'%}
        </div>
    </div>
{% endblock %}