{% extends 'base.html.twig' %}
{% block topbar %}
    {{ parent() }}
    {% include topbar_2 %}
    {% include topbar_3 %}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h3> Fiche pathologique </h3>
        <div class="panel panel-default">
            <div class="formpart">
                Informations
            </div>
            <form method="POST" class="form-horizontal">
                <div class="panel-body">
                    <div class="form-group  col-md-12">
                        <div class="col-md-2 text-right">Date diffusion</div><div class="col-md-2"><input class="col-md-10" type="date" name="date_diffusion"></div>
                        <div class="col-md-1 text-right">Ref origine</div><div class="col-md-2"><input class="col-md-10" name="ref_origine"></div>
                        <div class="col-md-1 text-right">Ref définitive</div><div class="col-md-2"><input class="col-md-10" name="ref_definitive"></div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-2 text-right">Rédacteur</div><div class="col-md-2"><input class="col-md-10" type="date" name="date_diffusion"></div>
                        <div class="col-md-1 text-right">Validateur</div><div class="col-md-2"><input class="col-md-10" name="ref_origine"></div>
                    </div>
                    <div class="form-group  col-md-12">
                        <div class="col-md-2 text-right">Code ouvrage équipement</div><div class="col-md-2"><input class="col-md-10" name="ref_origine"></div>
                        <div class="col-md-1 text-right">Missions concernées</div><div class="col-md-2"><input class="col-md-10" name="ref_origine"></div>
                    </div>
                </div>
        </div>
        <div class="panel panel-default">
            <div class="formpart">
                Contenu
            </div>
            <div class="panel-body">
                <div class="form-group col-md-12">
                    <div class="col-md-2 text-right">Objet</div><div class="col-md-8"><input class="col-md-12"></div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-2 text-right">Constats</div><div class="col-md-8"><textarea rows="5"  class="col-md-12"></textarea></div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-2 text-right">Positions de Qualiconsult</div><div class="col-md-8"><textarea rows="5"  class="col-md-12"></textarea></div>
                </div>
                <div class="form-group col-md-12">
                    <div class="col-md-2 text-right">Référentiels applicables</div><div class="col-md-8"><textarea rows="5"  class="col-md-12"></textarea></div>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}