{% extends "base.html.twig" %}
{% block topbar %}
    {{ parent() }}
    {% include topbar_2 %}
    {% include topbar_3 %}
{% endblock %}
{% block body %}
    <div class="container-fluidt">
        <h3>Mails recus</h3>
        <div class="col-md-12">
            {{ mails|length }}
            {% for mail in mails %}
                {{ mail.header_subject }}
            {% endfor %}
        </div></div>
{% endblock %}