{% extends 'base.html.twig' %}
{% block body %}
    {% if context.statut == "DO" %}
        {% include "topbar/topbar2do.html.twig" %}
    {% endif %}
    {% if context.statut == "AV1" %}
        {% include "topbar/topbar2av1.html.twig" %}
    {% endif %}
    {% if context.statut == "judiciaire" %}
        {% include "topbar/topbar2judiciaire.html.twig" %}
    {% endif %}
    {% if context.statut == "amiable" %}
        {% include "topbar/topbar2amiable.html.twig" %}
    {% endif %}
    <div class='row'>
        <div class="container">
            <div class="col-md-12">
                Rédiger un memo :<br>
                <form method="POST">
                    <textarea maxlength="500" wrap="off" name='memo' class="col-md-12" rows="5" style="margin-bottom: 10px"></textarea>
                    <button type='submit' class="btn btn-primary pull-right">Enregistrer</button>
                </form>
            </div>
            {% if memos|length > 0 %} 
                <div class="col-md-12">
                    <h4>Derniers memos :</h4><br>
                    {% for memo in memos %}
                        {% include 'interne/memo_box.html.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock%}