{% extends "sinistre/fiche_sinistre.html.twig" %}
{% block css %}
    {{ parent() }}
    <link rel='stylesheet' href='{{ assetsdir }}/css/switch.css'>
{% endblock %}
{% block content %}
    {% if notab is null %}
        <div class="row">
            <ul class="nav nav-tabs">
                <li role="presentation"{% if tab == 0 %}class='active'{% endif %}><a href="{{ base_url }}/interne/memo_c">Memo</a></li>
            </ul>
        </div>
    {% endif %}
    <div class="row" style="margin-top: 10px">
        {% block editeur %}
        {% endblock %}
    </div>
{% endblock %}