{% extends "base.html.twig" %}
{% block topbar %}
    {{ parent() }}
    {% include 'topbar/topbar2recherche.html.twig' %}
{% endblock %}
{% block body %}
    <style>
        body {
            padding-top: 70px;
        }
    </style>
    <div class='container-fluid'>
        <div class="col-md-12">
            <div style='padding-bottom: 0px;'>
                <h3>Liste des affaires <input style='width: 370px; height: 30px; margin-left: 60px; padding-left: 10px; border-radius: 5px; border: 1px solid lightslategrey; color: black; font-size: 14px' id="recherche_affaire_numero" type='text' name='recherche_affaire_numero_autocomp' value='{{ context.search.num_affaire_autocomp }}' placeholder="Numéro ou libellé d'affaire"></input><input type="hidden" name='recherche_affaire_numero' value='{{ context.search.num_affaire }}'></input></h3>
            </div>
                <div class="col-lg-9 col-md-12"> {#style='width: 650px; float: left;'>#}
                {% include 'affaire/form_recherche_affaire.html.twig' %}
            </div>
            <div class='col-md-12'>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Code affaire</th><th>Désignation</th><th>Commune</th><th>MOA</th><th>Nb sinistres | en cours | clos</th><th>Nb RP</th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for affaire in affaires %}
                            {% include 'affaire/blocks/row_recherche_affaire.html.twig' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $('.clickable-row').click(function (e) {
            var id = $(this).prop('id');
            document.location = "{{ ajax_url }}/Affaire_c/index/" + id;
        });
    </script>
{% endblock %}