{% extends "sinistre/fiche_sinistre.html.twig" %}
{% block topbar %}
    {{ parent() }}
    {% include 'topbar/choix_topbar2.html.twig' %}
{% endblock %}
{% block statut %}
    <div class="container-fluid">
        <form class='form-vertical col-md-12' method="POST">
            {% include 'sinistre/blocks/base_commune_form_do_av1.html.twig' with { 'edit' : context.edit, 'statut' : context.sinistre.av1 } %}

            <fieldset>
                <legend>
                    Expertise Compagnie
                </legend>
                <div class='form-group'>
                    <div class='col-md-2'>Ref dossier cabinet d'expert compagnie</div>
                    <div class='col-md-9'>
                        <input class="form-control" name="ref_dossier_expert_cie" value="{{ context.sinistre.av1.ref_dossier_expert_compagnie }}">
                    </div>
                </div>
                <div class="col-md-12 separator-20"></div>
                <div class='form-group'>
                    <div class='col-md-2'>Cabinet d'experts compagnie</div>
                    <div class='col-md-9' style="padding: 0">
                        {% include 'global/forms/contact.html.twig' with {'edit' : context.edit, 'prefix' : 'compagnie', 'contact' : context.sinistre.av1.cabinet_expert_compagnie, 'justname' : true}  %}
                    </div>
                </div>
                <div class="col-md-12 separator-20"></div>
                <div class='form-group'>
                    <div class='col-md-2'>Adresse cabinet d'experts compagnie</div>
                    <div class='col-md-9' style="padding: 0 !important;">
                        {% include 'global/forms/form_adresse.html.twig' with {'edit' : context.edit, 'prefix' : 'compagnie_', 'adresse' : context.sinistre.av1.cabinet_expert_compagnie.adresse}  %}
                    </div>
                </div>
                <div class="col-md-12 separator-20"></div>
                <div class='form-group'>
                    <div class='col-md-2'>Contact</div>
                    <div class='col-md-9' style="padding: 0">
                        {% include 'global/forms/contact.html.twig' with { "edit" : context.edit, 'prefix' : 'expert_compagnie', 'contact' : context.sinistre.av1.contact_expert_compagnie} %}
                    </div>
                </div>
            </fieldset> 
            {% if context.edit %}<div class="col-md-12" style="margin-top: 5px;"><button typ="submit" class="btn btn-gaia pull-right">Enregistrer</button></div>{% endif %}
        </form>
    </div>
{% endblock %}