{% extends "sinistre/fiche_sinistre.html.twig" %}
{% block topbar %}
    {{ parent() }}
    {% include 'topbar/choix_topbar2.html.twig' %}
{% endblock %}
{% block statut %}
    <div class='container-fluid'>
        <form class='form-vertical col-md-12' method="POST">   
            {% include 'sinistre/blocks/base_commune_form_do_av1.html.twig' with {'edit' : context.edit, 'statut' : context.sinistre.do } %}
            {% if context.edit %}<div class="col-md-12" style="margin-top: 10px"><button class="btn btn-gaia pull-right">Enregistrer</button></div>{% endif %}
        </form>
    </div>
{% endblock %}
