{% extends "base.html.twig" %}
{% block topbar %}
    {{parent()}}
    {% include 'topbar/choix_topbar2.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-md-12">
            <h3 style="margin-bottom: 10px">Historique du sinistre
            </h3>
        </div>
        <div class="col-md-12">
            <form class='form' role='search' method='POST'>
                <fieldset>
                    <legend>Filtrer</legend>
                    <table>
                        <tr>
                            <td style="padding-left: 20px; padding-right: 20px !important">Statut : <select name='statut'>
                                    <option value="" {% if search.statut == ""%}selected{% endif %}>Tous</option>
                                    {% if context.sinistre.do %}<option value="DO" {% if search.statut == "DO"%}selected{% endif %}>DO Standard</option>{% endif %}
                                    {% if context.sinistre.av1 %}<option value="AV1" {% if search.statut == "AV1"%}selected{% endif %}>DO AV1</option>{% endif %}
                                    {% if context.sinistre.judiciaire %}<option value="JUD" {% if search.statut == "JUD"%}selected{% endif %}>Judiciaire</option>{% endif %}
                                    {% if context.sinistre.amiable %}<option value="AMIABLE" {% if search.statut == "AMIABLE"%}selected{% endif %}>Autre</option>{% endif %}
                                </select></td>
                            <td style="padding-right: 20px !important">Date : <input type="date" name='date' value='{{search.date}}'></td>
                            <td style="padding-right: 20px !important">Type : <select id="type" name='type'><option value=''>Tous</option><option {% if search.type == 1 %}selected{%endif%} value='1'>Mail</option><option {% if search.type == 2 %}selected{%endif%} value="2">Edition</option><option {% if search.type == 4 %}selected{%endif%} value="4">Asqua</option><option {% if search.type == 3 %}selected{%endif%} value="3">Autre</option></select></td>
                            <td style="padding-right: 20px !important; min-width: 350px">Libelle : <select name='libelle' id="libelle" style="min-width: 250px"></select></td>
                            <td style="padding-right: 20px !important">Recherche libre : <input name='recherche' value='{{search.recherche}}'></td>
                            <td style="padding-right: 20px !important"><button class="btn btn-sm btn-primary">Filtrer</button></td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th><th>Emetteur</th><th>Type</th><th>Libelle</th><th>Destinataire(s)</th><th>PJ</th>
                </tr>
            </thead>
            <tbody>
                {% for elem in hist %}
                    {% include 'sinistre/row_historique.html.twig' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="dialog" title="Vue historique" style="z-index: 3">
</div>
<script>
    $(document).ready(function () {
        $('.mail').click(function () {
            var id = $(this).prop('id');
            var chrono = $(this).attr('chrono');
            $.ajax("{{ajax_url}}/sinistre_c/historique/" + id).done(function (data) {
                $('#dialog').empty().append(data);
                $('#dialog').dialog({
                    title: "Mail N°" + chrono,
                    minHeight: 600,
                    minWidth: 900
                });
            });
        });

        $('.courrier').click(function () {
            var id = $(this).prop('id');
            document.location = "{{ ajax_url }}/documents/download/" + id;
        });

        $('#type').change(function () {
            if ($(this).val() == 1)
                var value = 'mail';
            if ($(this).val() == 2)
                var value = 'courrier';
            $.ajax("{{ ajax_url}}/ajax_c/getLibelleHist/" + value).done(function (data) {
                $('#libelle').empty().append(data);
            });
        });

        var val_int = $('#type').val();
        if (val_int == 1)
            var val = 'mail';
        if (val_int == 2)
            var val = 'courrier';

        $.ajax("{{ ajax_url}}/ajax_c/getLibelleHist/" + val).done(function (data) {
            var selected_lib = "{{search.libelle}}";
            $('#libelle').empty().append(data);
            var elems = $('#libelle').children('option');
            $.each(elems, function (i, d) {
                if ($(d).val() == selected_lib)
                    $(d).prop("selected", true);
            });
        });
    });
</script>
{% endblock %}