{% extends "sinistre/fiche_sinistre.html.twig" %}
{% block topbar %}
    {{ parent() }}
    {% include 'topbar/choix_topbar2.html.twig' %}
{% endblock %}
{% block statut %}
    <div class='container-fluid'>
        <form class='form-vertical col-md-12' method="POST">
            <fieldset>
                <legend> References</legend>
                <div class="col-md-12">
                    <div class='form-group'>
                        <div class='col-md-3'>Date assignation</div>
                        <div class="col-md-4">
                            <input class='col-md-12 form-control' type="date" name="date_assignation" {% if context.sinistre.judiciaire %}value="{{ context.sinistre.judiciaire.date_assignation|date('Y-m-d') }}"{% endif %}{% if not context.edit %}readonly{% endif %}>
                        </div></div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Expert judiciaire</legend>
                <div class="col-md-12">
                    <div class="col-md-12 separator-20"></div>
                    <div class='form-group'>
                        <div class='col-md-3'>Coordonées expert Judiciaire</div>
                        <div class="col-md-8" style="padding: 0">
                            {% include "global/forms/contact.html.twig" with { 'prefix' : 'expert_judiciaire', 'edit' : context.edit, 'contact' : context.sinistre.judiciaire.expert_judiciaire} %}
                        </div>
                    </div>
                    <div class="col-md-12 separator-20"></div>
                    <div class='form-group'>
                        <div class='col-md-3'>Adresse</div>
                        <div class="col-md-8" style="padding: 0">
                            {% include "global/forms/form_adresse.html.twig" with { 'prefix' : 'expert_judiciaire_', 'edit' : context.edit, 'adresse' : context.sinistre.judiciaire.expert_judiciaire.adresse} %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Cabinet expert compagnie judiciaire</legend>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class='col-md-3'>Ref. dossier cabinet expert compagnie Judiciaire</div>
                        <div class="col-md-8">
                            <input maxlength="50" class='col-md-12 form-control' name="ref_dossier_expert_compagnie" {% if context.sinistre.judiciaire %}value="{{ context.sinistre.judiciaire.ref_dossier_expert_compagnie }}"{% endif %}{% if not context.edit %}readonly{% endif %}> 
                        </div></div>
                    <div class="col-md-12 separator-20"></div>
                    <div class='form-group'>
                        <div class='col-md-3'>Coordonées du cabinet d'experts</div>
                        <div class="col-md-8" style="padding: 0">
                            {% include "global/forms/contact.html.twig" with { 'prefix' : 'compagnie_judiciaire', 'edit' : context.edit, 'justname' : true, 'contact' : context.sinistre.judiciaire.cabinet_expert_compagnie_judiciaire } %}
                        </div>
                    </div>
                    <div class="col-md-12 separator-20"></div>
                    <div class='form-group'>
                        <div class='col-md-3'>Adresse</div>
                        <div class="col-md-8" style="padding: 0">
                            {% include "global/forms/form_adresse.html.twig" with { 'prefix' : 'compagnie_judiciaire_', 'edit' : context.edit, 'adresse' : context.sinistre.judiciaire.cabinet_expert_compagnie_judiciaire.adresse } %}
                        </div>
                    </div>
                    <div class="col-md-12 separator-20"></div>
                    <div class="form-group">
                        <div class='col-md-3'>Nom expert du dossier</div>
                        <div class="col-md-8" style="padding-left: 0; padding-right: 0">
                            <div class="col-md-3">
                                <input maxlength="50" class='col-md-12 form-control' name="nom_expert_cie" {% if context.sinistre.judiciaire %}value="{{ context.sinistre.judiciaire.expert_compagnie_judiciaire.nom }}"{% endif %}{% if not context.edit %}readonly{% endif %}> 
                            </div>

                            <div class='col-md-offset-4 col-md-2'>Mail expert du dossier</div>
                            <div class="col-md-3">
                                <input maxlength="50" class="col-md-12 form-control" name='mail_expert_cie' {% if context.sinistre.judiciaire %}value="{{ context.sinistre.judiciaire.expert_compagnie_judiciaire.email }}"{% endif %}{% if not context.edit %}readonly{% endif %}>
                            </div></div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Avocats</legend>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class='col-md-3'>Ref. dossier avocat</div>
                        <div class="col-md-3">
                            <input class="form-control" name="ref_dossier_avocat" value="{{ context.sinistre.judiciaire.ref_dossier_avocat }}">
                        </div></div>
                    <div class="col-md-12 separator-20"></div>
                    <div class='form-group'>
                        <div class='col-md-3'>Coordonées cabinet avocat QC</div>
                        <div class="col-md-8" style="padding: 0">
                            {% include "global/forms/contact.html.twig" with { 'prefix' : 'avocat_qc', 'edit' : context.edit, 'justname' : true, 'contact' : context.sinistre.judiciaire.cabinet_avocat} %}
                        </div>
                    </div>
                    <div class="col-md-12 separator-20"></div>
                    <div class='form-group'>
                        <div class='col-md-3'>Adresse</div>
                        <div class="col-md-8" style="padding: 0">
                            {% include "global/forms/form_adresse.html.twig" with { 'prefix' : 'avocat_qc_', 'edit' : context.edit, 'adresse' : context.sinistre.judiciaire.cabinet_avocat.adresse} %}
                        </div>
                    </div>
                    <div class="col-md-12 separator-20"></div>
                    <div class="form-group">
                        <div class='col-md-3'>Avocat du dossier</div>
                        <div class="col-md-8" style="padding-left: 0; padding-right: 0">
                            <div class="col-md-3">
                                <input class='col-md-12 form-control' maxlength="50" name="nom_avocat" {% if context.sinistre.judiciaire %}value="{{ context.sinistre.judiciaire.avocat_dossier.nom }}"{% endif %}{% if not context.edit %}readonly{% endif %}> 
                            </div>
                            <div class='col-md-1'>Prenom</div>
                            <div class="col-md-3">
                                <input class="col-md-12 form-control" maxlength="50" name='prenom_avocat' {% if context.sinistre.judiciaire %}value="{{ context.sinistre.judiciaire.avocat_dossier.prenom }}"{% endif %}{% if not context.edit %}readonly{% endif %}>
                            </div>
                            <div class='col-md-1'>Mail</div>
                            <div class="col-md-4">
                                <input class="col-md-12 form-control" maxlength="50" name='mail_avocat' {% if context.sinistre.judiciaire %}value="{{ context.sinistre.judiciaire.avocat_dossier.email }}"{% endif %}{% if not context.edit %}readonly{% endif %}>
                            </div></div>
                    </div>  

                    <div class="form-group">
                        <div class='col-md-3'>Nom collaborateur avocat du dossier</div>
                        <div class="col-md-8" style="padding-left: 0; padding-right: 0">
                            <div class="col-md-3">
                                <input class='col-md-12 form-control' maxlength="50" name="nom_collaborateur_avocat" {% if context.sinistre.judiciaire %}value="{{ context.sinistre.judiciaire.collaborateur_avocat_dossier.nom }}"{% endif %}{% if not context.edit %}readonly{% endif %}> 
                            </div>
                            <div class='col-md-1'>Prenom</div>
                            <div class="col-md-3">
                                <input class="col-md-12 form-control" maxlength="50" name='prenom_collaborateur_avocat' {% if context.sinistre.judiciaire %}value="{{ context.sinistre.judiciaire.collaborateur_avocat_dossier.prenom }}"{% endif %}{% if not context.edit %}readonly{% endif %}>
                            </div>
                            <div class='col-md-1'>Mail</div>
                            <div class="col-md-4">
                                <input class="col-md-12 form-control" maxlength="50" name='mail_collaborateur_avocat' {% if context.sinistre.judiciaire %}value="{{ context.sinistre.judiciaire.collaborateur_avocat_dossier.email }}"{% endif %}{% if not context.edit %}readonly{% endif %}>
                            </div></div>
                    </div>             

                </div>
            </fieldset>
            {% if context.edit %}
                <div class="col-md-12" style="margin-top: 10px"><button class="btn btn-gaia pull-right" type="submit">Enregistrer</button></div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}