{% extends "base.html.twig" %}
{% block topbar %}
    {{ parent() }}
    {% include 'topbar/topbar2.html.twig' %}
{% endblock %}
{% block body %}
    <div class='container-fluid'>
        <div class="col-md-12">
            <h3>Nouveau référé préventif</h3>
            <fieldset  style="margin-top: 10px">
                <legend>Informations</legend>
                <div class="col-md-12">
                    <form class='form-horizontal col-md-12' method='POST' {% if not new %}action='{{ base_url }}/sinistre_c/edit'{%endif%} enctype="multipart/form-data">
                        <div class="col-md-12">
                            {% if tranches and tranches|length > 0 %}
                                <div class="form-group">
                                    <label class="col-md-2">Tranche de l'affaire</label>
                                    <div class="col-md-10">
                                        <select class="form-control" id="date_declaration" name="tranche">
                                            {% for tranche in tranches %}
                                                <option value='{{tranche.tra_index}}'>{{tranche.tra_libelle }} - {{ tranche.missions }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group form-inline">
                                <label class="col-md-2">Adresse</label>

                                <div class="col-md-10">
                            {% if context.user.role != 8 and context.user.role != 10 %}{% set required=1 %}{% else %}{% set required = 0 %}{% endif %}
                            {% include 'global/forms/form_adresse.html.twig' with { 'required' : required, 'edit' : true } %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date_reception" class="col-md-2">Date du référé</label>
                        <div class="col-md-3">
                            <input type="date" class="form-control" id="datereception" name="date_reception">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="pull-right btn btn-gaia">Enregistrer</button>
                    </div>
            </form>
        </div>
    </fieldset>

</div>
</div>
<script>
    $(document).ready(function () {
        $('#receptionoui').click(function (e) {
            $('#datereception').prop('required', true);
            $('#datereception').prop('disabled', false);
            $('#radioav1').prop('disabled', false);
            $('#radiodo').prop('disabled', false);
            $('#radiojud').prop('disabled', false);
        });
        $('#receptionnon').click(function () {
            $('#datereception').prop('required', false);
            $('#datereception').prop('disabled', true);
            $('#radioav1').prop('disabled', true);
            $('#radiodo').prop('disabled', true);
            $('#radiojud').prop('disabled', true);
            $('#radioautre').prop('checked', true);
        });
    });
</script>
{% endblock %}
