<tr class='hist_row {% if elem.type == 1 %}mail' id='{{ elem.id }}'{% endif %}{% if elem.type == 2 %}courrier' id='{{ elem.data.attachements[0] }}'{% endif %} style='cursor: pointer' chrono="{{ elem.num_chrono }}">
    <td>{{ elem.date|date('d-m-Y H\\hi') }}</td>
    <td>{{ elem.data.expediteur }}</td>
    <td>
        {% if elem.type == 1 %}Mail{% endif %}
        {% if elem.type == 2 %}Courrier{% endif %}
        {% if elem.type == 3 %}Sinistre{% endif %}
        {% if elem.type == 4 %}Synchronisation ASQUA{% endif %}
    </td>
    
    <td>{{ elem.libelle }}
    </td>
    <td>{{ elem.data.to }} {{ elem.data.cc }} {{ elem.data.contact }}</td>
    <td>
        {% if elem.data.attachements|length > 0 %}
            {{ elem.data.attachements|length }}
        {% endif %}
    </td>
</tr>