{% extends "sinistre/fiche_sinistre.html.twig" %}
{% block topbar %}
    {{ parent() }}
    {% include 'topbar/choix_topbar2.html.twig' %}
{% endblock %}
{% block statut %}
    <div class='container-fluid'>
        <form class='form-vertical col-md-12' method="POST">
            <fieldset>
                <legend>Expert judiciaire</legend>
                <div class="col-md-12">
                    <div class="col-md-12 separator-20"></div>
                    <div class='form-group'>
                        <div class='col-md-3'>Coordonées expert Judiciaire</div>
                        <div class="col-md-8" style="padding: 0">
                            {% include "global/forms/contact.html.twig" with { 'prefix' : 'expert_judiciaire', 'edit' : context.edit, 'contact' : context.sinistre.rp.expert_judiciaire, 'fromasqua' : true } %}
                        </div>
                    </div>
                    <div class="col-md-12 separator-20"></div>
                    <div class='form-group'>
                        <div class='col-md-3'>Adresse</div>
                        <div class="col-md-8" style="padding: 0">
                            {% include "global/forms/form_adresse.html.twig" with { 'prefix' : 'expert_judiciaire_', 'edit' : context.edit, 'adresse' : context.sinistre.rp.expert_judiciaire.adresse, 'fromasqua' : true } %}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}