<div class="container-fluid">
    <div class="col-md-12">
        
            <span class="col-md-12"><b>Expediteur :</b>{{ mail.data.expediteur }}</span>
            <span class="col-md-12"><b>Date :</b> {{mail.date|date('d/m/Y - H:i')}}</span>
            <span class="col-md-12"><b>Destinataire(s) : </b>{{ mail.data.to }}</span>
            {% if mail.data.cc %}<span class="col-md-12"><b>CC(s) : </b>{{ mail.data.cc }}</span>{% endif %}
            <span class="col-md-12"> &nbsp;</span>
        <div class="col-md-12">
            {{ mail.data.mail|raw }}
        </div>
        <br>
        {% if mail.data.attachements|length > 0 %}
            Fichiers joints : <br>
        {% endif %}
        {% for f in mail.data.attachements %}    
            {% if f.id|slice(0,1) != "g" %}<a href="{{base_url}}/documents/download/{{ f.id }}">{{ f.nom_public }}</a>
            {% else %}<a href="{{ f.uri }}">{{ f.nom_public }}</a>{% endif %}
            <br>
        {% endfor %}
    </div>
</div>