<table id="mail-table" width="750px">
    <tbody>
        <tr>
            <td width="300px" style="vertical-align: top">
                <table  style="width: 100%">
                    <tr>
                        <td colspan="2"><b>Expert DO AVENANT 1 :</b></td>
                    </tr>
                    <tr>
                        <td  colspan="2">{{ sinistre.av1.cabinet_expert.nom }}</td>
                    </tr>
                    <tr>
                        <td>{{ sinistre.av1.cabinet_expert.adresse|nl2br }}</td>
                    </tr><tr>
                        <td>Ref exp : {{ sinistre.av1.ref_dossier_expert }}</td>
                    </tr>
                </table>
            </td>

            <td width="400px" style="vertical-align: top">
                <table style="width: 100%">
                    <tr>
                        <td colspan="2"><table style="width: 100%"><tr><td><b>Déclaration de sinistre DO AV1</b></td><td style="text-align: right">N/n° sin : {{ sinistre.num_chrono }}</td></tr></table></td>
                    </tr>
                    <tr>
                        <td>Affaire:</td><td>{{sinistre.affaire.libelle}}</td>
                    </tr><tr>
                        <td>Missions:</td><td>{{sinistre.affaire.missions}}</td></tr><tr>
                        <td>N° Affaire:</td><td>{{sinistre.affaire.code}}</td></tr><tr>
                        <td>Ref assureur:</td><td>{{sinistre.ref_asqua}}</td></tr><tr>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding-top: 50px">
                Bonjour,<br><br>

                Nous vous informons que l'expert DO vient de déclarer l'affaire visée en marge en <b>AVENANT 1</b><br>
                <br>
                Bien cordialement.
                <br><br>{{ from.nom }}<br>
                {{from.role }}
                <br><br>
                <br><br><span><center>{{ footer.entite }}<br> {{ footer.contact_entite }}</center></span>
            </td></tr></tbody></table>