<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Reference ASQUA</title>  
        <link rel="stylesheet" href="{{assetsdir}}/css/form_nouvelle_affaire.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Qualiconsult - service contentieux
                        </div>
                    </div>
                    {% if alreadydone %}
                        <div class="panel-body">
                            <label for="numero_affaire" value="id">Erreur</label>
                            <p>Ce lien à déjà été utilisé</p>    
                        </div>
                        <script>
                            window.setTimeout(function () {
                                window.location.href = "{{ base_url }}/asqua/tdb/0305E82C3301";
                            }, 2000);
                        </script>
                    {% elseif not done %}
                        <div class="panel-body">
                            <form method="POST">
                                <label for="numero_affaire" value="id">Vôtre référence</label>
                                <p>Merci de ne pas inclure l'année et le "/" précédants la réf</p>
                                <p>Ex : <spans style="color: red">2016/</span> <span style="color: green"> 1234...</span></p>
                                <input id="input_user" class="form-control" type="text" name="ref_asqua" required value='{{ context.search.num_affaire }}'>
                                <button class='btn btn-primary' type='submit' name='creer' style='margin-top: 10px'>Valider</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="panel-body">
                            <label for="numero_affaire" value="id">Merci</label>
                            <p>Vôtre référence à bien été enregistrée.</p>    
                        </div>
                        <script>
                            window.setTimeout(function () {
                                window.location.href = "{{ base_url }}/asqua/tdb/0305E82C3301";
                            }, 2000);
                        </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>