{% extends 'base.html.twig' %}
{% block topbar %}
    {{parent() }}
    {% block topbar2 %}
    {% endblock %}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-md-12">
            <h3 style="margin-bottom: 10px">{{ title }}</h3>
            {% if alreadysent %}
                <b style="color: red">Mail déjà envoyé le {{ alreadysent.date|date('d/m/Y') }}</b>
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-8">
            <div class="col-md-12" style="padding: 0">
                <fieldset><legend>Diffusion</legend>
                    <div class="col-md-12">
                        <form class='form-vertical' role='search' method='POST' id="form_mail">
                            <div class='input-group  col-md-12'>
                                <div class="col-md-3">
                                    <b>Destinataire(s):</b></div><div class="col-md-9">{{ destinataires }}
                                </div>
                            </div>
                            <div class="separator-20"></div>
                            {% if CC %}
                                <div class='input-group  col-md-12'>
                                    <div class="col-md-3">
                                        <b>CC </b>:</div><div class="col-md-9"> {{ CC }}
                                    </div>
                                </div>
                                <div class="separator-20"></div>
                            {% endif %}
                            <div class='input-group col-md-12'>
                                <div class="col-md-3">
                                    <b>Objet</b> :
                                </div>
                                <div class="col-md-9">
                                    <input type='text' class='form-control' name='objet' value='{{ context.sinistre.affaire.libelle }}'></input> 
                                    {% if context.edit %}
                                        <button type='submit' name='Envoyer' class="btn btn-gaia pull-right" style="margin-left: 10px">Envoyer</button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12" style="padding: 0">
                {% if pj %}
                    {% include 'documents.html.twig' %}
                {% endif %}
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">

            <fieldset style="max-width: 22cm; min-width: 22cm"><legend>Edition</legend><center>
                    {%block mail %}
                        {{ mail_content|raw }}
                    {% endblock %}
                </center></fieldset>

        </div>
    </div>

    <link rel="stylesheet" href="{{ assetsdir }}/css/mails.css">
    <script>
        $('#form_mail').submit(function() {
            $('button[name="Envoyer"]').attr("disabled",true);
        });
    </script>
{% endblock %}