{% extends 'mails/editeur_mail.html.twig' %}
{% block topbar2 %}
    {{parent()}}
    {% include 'topbar/topbar2jud.html.twig' %}
    {% include 'mails/judiciaire/topbar_mails_judiciaire.html.twig' %}
{% endblock %}
{% block title %}{{ mail_title }}{% endblock %}