{% extends "mails/editeur_mail.html.twig" %}
{% block topbar2 %}
    {{ parent() }}
    {% include 'topbar/choix_topbar2.html.twig' %}
    {% include topbar3 with { 'active' : active } %}
{% endblock %}
{% block body %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ assetsdir }}/tinymce/tinymce.min.js"></script>
    {% endblock %}
    <div class="container-fluid">
        <h3 style="padding-left: 5px; margin-bottom: 10px">Mail libre</h3>
        <div class="col-md-5">
            {% include 'documents.html.twig' %}
        </div>
        <div class="col-md-7">
            <fieldset>
                <legend>Mail</legend>
                <div class="col-md-12">
                    <form id="form_mail" method="POST">
                        <b>Destinataire(s)</b>
                        <input id="input_destinataires" class="form-control" name="destinataires" placeholder="Séparez les adresses par des virgules" required pattern="(([A-Za-z0-9.\-_])*@[A-Za-z0-9.\-_]*\.[A-Za-z0-9]*(\s*,\s*|\s*$))*">
                        <b>CC</b>
                        <input id="input_cc" class="form-control" name="CC" placeholder="Séparez les adresses par des virgules" pattern="(([A-Za-z0-9.\-_])*@[A-Za-z0-9.\-_]*\.[A-Za-z0-9]*(\s*,\s*|\s*$))*">
                        <b>Objet</b>
                        <input class="form-control" name="objet" required>
                        <br>
                        <b>Message</b>
                        <textarea rows="10" class="form-control" name="mail" id="mail_content"></textarea>
                        <button type="submit" id="btn_envoyer_mail" class="btn btn-gaia" style="margin-top: 5px">Envoyer</button>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            qcDocs.init("{{ajax_url}}/documents/", 'docs_list', '{{ajax_url}}', 'form_mail');
            tinymce.init({
                selector: '#mail_content',
                elementpath: false,
                menubar: false,
                language: 'fr_FR',
                plugins: "textcolor colorpicker",
                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | forecolor backcolor'
            });

            $(function () {
                function split(val) {
                    return val.split(/,\s*/);
                }
                function extractLast(term) {
                    return split(term).pop();
                }

                $.get(AJAXPATH + "/mail/getContactsMailLibre", function (data) {
                    availableTags = JSON.parse(data);
                    console.log(availableTags);
                    $("#input_destinataires, #input_cc")
                            // don't navigate away from the field on tab when selecting an item
                            .on("keydown", function (event) {
                                if (event.keyCode === $.ui.keyCode.TAB &&
                                        $(this).autocomplete("instance").menu.active) {
                                    event.preventDefault();
                                }
                            })
                            .autocomplete({
                                minLength: 0,
                                source: function (request, response) {
                                    // delegate back to autocomplete, but extract the last term
                                    response($.ui.autocomplete.filter(
                                            availableTags, extractLast(request.term)));
                                },
                                focus: function () {
                                    // prevent value inserted on focus
                                    return false;
                                },
                                select: function (event, ui) {
                                    var terms = split(this.value);
                                    // remove the current input
                                    terms.pop();
                                    // add the selected item
                                    terms.push(ui.item.value);
                                    // add placeholder to get the comma-and-space at the end
                                    terms.push("");
                                    this.value = terms.join(", ");
                                    return false;
                                }
                            });

                });
            });
            $('#form_mail').submit(function () {
                $('#btn_envoyer_mail').attr("disabled", true);
            });

        });
    </script>
{% endblock %}