{% if context.sinistre %}
    {% if context.sinistre.statut == 5 %}
        {% include 'topbar/topbar2rp.html.twig' %}
    {% elseif context.sinistre.statut == 4 %}
        {% include 'topbar/topbar2amiable.html.twig' %}
    {% elseif context.sinistre.statut == 3 %}
        {% include 'topbar/topbar2jud.html.twig' %}
    {% elseif context.sinistre.statut == 2 %}
        {% include 'topbar/topbar2av1.html.twig' %}
    {% elseif context.sinistre.statut == 1 %}
        {% include 'topbar/topbar2do.html.twig' %}
    {% else %}
        {% include 'topbar/topbar2recherche.html.twig' %}
    {% endif %}
{% else %}
    {% include "topbar/topbar2.html.twig" %}
{% endif %}