<nav class="navbar navbar-default navbar-lower navbar-fixed-top" role="navigation" id="topbar2">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            {#<li {% if topbar2 == 5 %}class="active"{% endif %}><a href="{{base_url}}/tableau_de_bord">Tableau de bord</a></li>#}
            <li {% if topbar2 == 1 %}class="active"{% endif %}><a href="{{base_url}}">Liste des affaires</a></li>
            <li {% if topbar2 == 2 %}class="active"{% endif %}><a href="{{base_url}}/affaire_c/nouvelle_affaire">Ouvrir une nouvelle affaire en contentieux</a></li>
            <LI {% if topbar2 == 3 %}class="active"{% endif %}><a href="{{base_url}}/affaire_c/affaire_non_identifiable">Affaire non identifiable</a></li>
            <LI {% if topbar2 == 4 %}class="active"{% endif %}><a href="{{base_url}}/documents/acces_rapide">Accès rapide documents Gaïa</a></li>
            <LI {% if topbar2 == 5 %}class="active"{% endif %}><a href="{{base_url}}/reporting">Reporting</a></li>
        </ul>
    </div>
</nav>
<style>
    body {
        padding-top: 70px !important;
    }
</style>